@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>
        Aplikacja na zaliczenie przedmiotu PROGRAMOWANIE W ŚRODOWISKU ASP.NET
    </h3>
    <h5>
        Maciej Romanowski <br />
        Nr albumu: 11123
    </h5>
    <br />
    <br />
    <br />
    <br />
    <br />
    @Html.ActionLink("Drukarki", "Index", "Printers", null, new { @class = "btn btn-primary" })
</div>
